# Dependencies
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Environment variables
.env
.env.production
.env.development
.env.local

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Temp files
*.tmp
*.swp
*.bak

# Coverage reports
coverage/
.nyc_output/

# ESLint and Prettier
.eslintcache
.stylelintcache
.prettiercache

# Testing-related
jest-test-results.json
.vitest/
cypress/screenshots/
cypress/videos/

# Miscellaneous
*.log
*.pid
*.seed
*.pid.lock

# Git-specific
*.orig
*.rej